<div class="">
  <div class="">
    <%= render partial: "snippet", collection: @snippets %>
    <%= pagy_bootstrap_nav(@pagy) %>
  </div>
  <br/>
  <%= link_to "[+] New", new_snippet_path, class: 'btn btn-primary' %>
</div>





