<div class="">
  <div class="mb-5">
    <%= render partial: "snippet", collection: @snippets %>
  </div>
  <div class="flex w-full justify-center pt-5">
    <%== pagy_nav(@pagy) if @pagy.count > 10 %>
  </div>
</div>





