<h1>User#edit</h1>
<p>Find me in app/views/user/edit.html.erb</p>
<%= simple_form_for(@user, url: user_path(uuid: @user.uuid)) do |f| %>
            <%#= simple_form_for(@scrubber, url: scrubber_path(id: @scrubber.id), method: :patch) do |f| %>

    <%= render partial: 'form', locals: { f: f } %>
<% end %>