<div id="paste-<%= paste.uuid %>" class="paste border-top py-2 row">
    <div class="col-9">
        <%= paste.name %> - <span class="text-secondary"><%= paste.description %></span>
    </div>
    <div class="col text-end">
        <%= link_to 'view', paste_path(paste.uuid) %>
    </div>
</div>